<div class="body_container">
    <section class="top-nav">
        <div style= "height: 100%;">
            <img style= "height: 100%;" src="https://i.ibb.co/mTvfMr6/logo.png">
        </div>
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <ul class="menu">
            {{#if user}}
                <li><a href="/current">Profile</a></li>
                <li><form style="height: 100%; width: 100%;" id="logoutForm"><button style="background: none; border: none; height: 100%; width: 100%;" type="submit"><a style="font-size: medium; cursor: pointer;">Logout</a></button></form></li>
                {{#isNotPremium user.role}}
                    <li><a><button onclick="upgradeUser('{{user.email}}')">Hacerse Premium</button></a></li>
                {{/isNotPremium}}
            {{else}}
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
            {{/if}}
        </ul>
    </section>
    <div>
        {{#if user}}
        <div class="user_div">
            <h2>{{user.name}}</h2>
        </div>
        {{/if}}
        <h1>Products from MongoDB:</h1>
        <div class = "product_container">
            {{#each products.docs}}
                <div class = "product_div">
                    <h2>{{this.title}}</h2>
                    <ul>
                        <li>$ {{this.price}}</li>
                        <li>{{this.description}}</li>
                        <li>Stock: {{this.stock}}</li>
                    </ul>
                    {{#isAdmin ../user.role}}
                    <h3><a>Editar productos</a></h3>
                    {{else}}
                    <button class="btn" type='submit' 
                        {{#isOwner ../user.email this.owner}}
                            style="display: none;"
                        {{/isOwner}}
                        onclick="addProductToCart('{{../user.cart_id}}', '{{this._id}}', '{{this.title}}')"> + CART </button>
                    {{/isAdmin}}
                </div>
            {{/each}}
        </div>
    </div>
    <br/>
    {{#isAdminOrPremium user.role}}
        <div>
            <h3>Add a new product to the store:</h3>
            <form id="add-product-form">
                    <label>Title:</label>
                    <input name="title" /><br/>
                    <label>Category:</label>
                    <input name="category" /><br/>
                    <label>Description:</label>
                    <input name="description" /><br/>
                    <label>Price:</label>
                    <input name="price" type="number" /><br/>
                    <label>Code:</label>
                    <input name="code" type="number"/><br/>
                    <label>Stock:</label>
                    <input name="stock" type="number"/><br/>
                    <label>Status:</label>
                    <input name="status" type="boolean"/><br/>
                    {{#isPremium user.role}}
                    <input name="owner" value="{{user.email}}" style="display: none;"/>
                    {{/isPremium}}
                <input type='submit' />
            </form>
        </div>
    {{else}}
        <div>
            <form title='{{user.email}}' id="chatBoxForm">
                <input placeholder="Write your message here" id="chatBox" type="text">
                <input value='Send' type='submit' />
            </form>

            <div>
                <p id="messageLogs"></p>
            </div>
        </div>
    {{/isAdminOrPremium}}
    <div class="page_container">
        {{#if products.hasPrevPage}}
            <a href={{products.prevLink}}><< Page {{products.prevPage}}</a>
        {{/if}}
        &nbsp;
        {{products.page}}
        &nbsp;
        {{#if products.hasNextPage}}
            <a href={{products.nextLink}}>Page {{products.nextPage}} >></a>
        {{/if}} 
    </div>
</div>    
<script src='/socket.io/socket.io.js'></script>
<script src="/js/logout.js"></script>
<script src="/js/form.js"></script>
<script src="/js/carts.js"></script>
<script src="/js/messages.js"></script>
<script src="/js/users.js"></script>