<div>
    {{#if user}}
    <div>
        <h2>Bienvenid@ {{user.name}}!</h2>
        <p>Age: {{user.age}} / Email: {{user.email}} / Role: {{user.role}} </p>
    </div>
    <form id="logoutForm">
        <button type="submit">Logout</button>
    </form>
    {{/if}}
    <h1>Products from MongoDB:</h1>
    <div>
        {{#each products.docs}}
            <div>
                <p>- {{this.title}}</p>
                <ul>
                    <li>$ {{this.price}}</li>
                    <li>{{this.description}}</li>
                    <li>Stock: {{this.stock}}</li>
                </ul>
            </div>
            <form method="POST" action='/api/carts/644857ef4d114bbc1bb0b615/products/{{this._id}}'>
                <button type='submit'> + CART </button>
            </form>
        {{/each}}
    </div>
</div>
<br/>
{{#if user.isAdmin}}
    <div >
        <h3>Add a new product to the store:</h3>
        <form id="add-product-form">
            <div>
                Title:
                <input id="title" />
            </div>
            <div>
                Category:
                <input id="category" />
            </div>
            <div>
                Description:
                <input id="description" />
            </div>
            <div>
                Price:
                <input id="price" type="number" />
            </div>
            <div>
                Code:
                <input id="code" type="number"/>
            </div>
            <div>
                Stock:
                <input id="stock" type="number"/>
            </div>
            <div>
                Status:
                <input id="status" type="boolean"/> 
            </div>
            <input type='submit' />
        </form>
    </div>
{{/if}}
</br>
<div>
    {{#if products.hasPrevPage}}
        <a href={{products.prevLink}}><< Page {{products.prevPage}}</a>
    {{/if}}
    &nbsp;
    {{products.page}}
    &nbsp;
     {{#if products.hasNextPage}}
        <a href={{products.nextLink}}>Page {{products.nextPage}} >></a>
    {{/if}} 
</div>

<script src="/js/logout.js"></script>
<script src="/js/form.js"></script>