<div class="body_container">
    <section class="top-nav">
        <div style= "height: 100%;">
            <img style= "height: 100%;" src="https://i.ibb.co/mTvfMr6/logo.png">
        </div>
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <ul class="menu">
            {{#if user}}
                <li><button type="submit" onclick="logout('{{user.email}}')">Logout</button></li>
                {{#isNotPremium user.role}}
                    <li><a href="/premium">Hacerse Premium</a></li>
                {{/isNotPremium}}
                {{#isAdmin user.role}}
                <li><a href="/users">Editar usuarios</a></li>
                {{/isAdmin}}
            {{else}}
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
            {{/if}}
                <li><a href="/products">Products</a></li>
        </ul>
    </section>
    {{#if user}}
    <h2>Personal information:</h2>
    <ul class="personal_info_div">
        <div class="personal_info_div_ch"><h4>Name:&nbsp</h4><p>{{user.name}}</p></div>
        <div class="personal_info_div_ch"><h4>Email:&nbsp</h4><p>{{user.email}}</p></div>
        <div class="personal_info_div_ch"><h4>Age:&nbsp</h4><p>{{user.age}}</p></div>
        <div class="personal_info_div_ch"><h4>Role:&nbsp</h4><p>{{user.role}}</p></div>
    </ul>
    {{#isAdmin user.role}}
    {{else}}
    </br><p>If you want to change you password, you can do it by clicking <a><button class="btnPass" onclick="restore('{{user.email}}')">here</button></a>.</p>
    {{/isAdmin}}
    </br>
    {{else}}
        <h1>There is no session detected</h1>
    {{/if}}
    {{#if isAdmin}}
    <h2>You are admin!</h2>
    {{else}}
    <div>
        {{#if cart.products.length}}
            <h2>Your cart content by now:</h2>
                <div>
                    <h3>Products:</h3>
                        {{#each cart.products}}
                            <div>
                                <ul>
                                    <li><h4>Product title: {{this.product.title}}</h4></li>
                                    <li><p>Quantity in cart: {{this.quantity}}</p></li>
                                </ul>
                                <button type="submit" onclick="deleteProduct('{{../cart._id}}', '{{this.product._id}}')">Delete product</button></li>
                                <button type="submit" onclick="addProductUnit('{{../cart._id}}', '{{this.product._id}}', '{{this.product.title}}')">Add 1 unit</button></li>
                                {{#isMoreThanOne this.quantity}}
                                <button type="submit" onclick="subtractProductUnit('{{../cart._id}}', '{{this.product._id}}')">Subtract 1 unit</button></li>
                                {{/isMoreThanOne}}
                            </div>
                        {{/each}}
                </br>
                    <button onclick="purchaseCart('{{cart._id}}')">Realizar compra</button>
                </div>
        {{else}}
            <h2>Your cart is currently empty</h2>
        {{/if}}
    </div>
    {{/if}}
</div>

<script src="/js/logout.js"></script>
<script src="/js/carts.js"></script>
<script src="/js/users.js"></script>